.mainArea{
	margin-top: 15px;
	margin-left: 15px;
	border-width: 1px;
	border-radius: 20px;
	border-style: solid;
	width: 1000px;
	height: 620px;
	font-family: sans-serif;
}

.inside{
	margin-top: 20px;
	margin-left: 20px;
}

li{
	margin-left: 5%;
	margin-top: 5px;
}

.info{
	border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}